[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "SuperMileageDisplay/mosquitto"]
	path = SuperMileageDisplay/mosquitto
	url = https://github.com/eclipse/mosquitto.git
[submodule "mosquitto"]
	path = mosquitto
	url = https://github.com/eclipse/mosquitto.git
[submodule "openssl"]
	path = openssl
	url = git://git.openssl.org/openssl.git
[submodule "RS-232"]
	path = RS-232
	url = https://gitlab.com/Teuniz/RS-232.git
